{% extends 'base.html' %}
{% block content %}
<h1 class="h3 mb-4 text-gray-800">Supplier</h1>
<table class="table table-hover">
  <thead>
    <tr>
      <th>Kode</th>
      <th>Nama</th>
      <th>Alamat</th>
      <th>Kota</th>
      <th>Telepon</th>
    </tr>
  </thead>
  <tbody>
{% for s in supplier %}
<tr>
  <td>{{ s.KODESUP }}</td>
	<td><a href="/supplier/{{ s.KODESUP }}">{{ s.NAMA }}</a></td>
  <td>{{ s.ALAMAT }}</td>
  <td>{{ s.KOTA }}</td>
  <td>{{ s.TELEPON }}</td>
</tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}
